@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
    text-decoration: none;
}

body {
    margin: 0 10%;
    height: auto;
    background-color: var(--off-white);
}

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: #fffdfa;
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}
   /* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 60px;
} 
ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style: none;   
}
a{
    font-size: 0.9rem;
}
a,p{
    color: var(--dark-grayish-blue);
    font-weight: 400;
}
p{
    margin-bottom: 10px;
}
a:hover{
    color: var(--soft-red);
}
.logo{
    display: block;
    width: 40px;
}
  /* main */
.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.hero{
    width: 66%;

}
.new{
    width: 32%;
    background-color: bisque;
}
.hero img{
    width: 100%;
}

.hero img:nth-of-type(2){
    display: none;
}
.hero-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.7rem;
}
.bright{
    width: 45%
}
.bright h1{
    font-weight: 800;
    font-size: 3rem;
    color: var(--very-dark-blue);
} 
.read-more{
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
} 
button{
    width: 50%;
    background-color: var(--soft-red);
    padding: 14px;
    border: none;
    letter-spacing: 3px;
    margin-top: 1rem;
}
button a{
    color: var(--off-white);
}
button:hover{
    background-color: var(--very-dark-blue);
    cursor: pointer;
}

/* New card */
.new{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--very-dark-blue);
}
.new-text{
    width: 90%;
}
.new-text p{
    font-size: 0.76rem;
}
.new h1{
    color: var(--soft-orange);
    align-self: flex-start;
    margin-left: 5%;
}
.new-text>h3{
    color: var(--off-white);
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 8px; 
}
.new-text>h3:hover{
    color: var(--soft-orange);
}
/* line */
hr{
    width: 90%;
    border: 1px solid; 
    color: var(--dark-grayish-blue);
}

/* footer section */
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem ;
}
.footer-card{
    width: 31%;
    display: flex;
    justify-content: space-between;
}
.footer-card img{
    width: 30%;
}
.footer-card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
}
.footer-card-text h1{
    color: var(--grayish-blue);
}
.footer-card-text h3{
    color: var(--very-dark-blue);
    font-size: 0.8rem;
    font-weight: 800;
    cursor: pointer;
}
.footer-card-text p{
    font-size: 0.76rem;
    font-weight: 400;
}
.footer-card-text h3:hover{
    color: var(--soft-red);
}
.menu{
    display: none;
}
/* media query */

@media (max-width: 885px){
   ul{
      display: none;
   }
   .menu{
      display: block;
   }

   .hero img:nth-of-type(2){
      display: block;
   }
   .hero img:nth-of-type(1){
      display: none;
   }
   .new{
      height: 400px;
      margin-top: 2rem;
   }
   .new p{
    font-size: 1rem;
   }
   .main, .hero-content, .footer{
      flex-direction: column;
      gap: 20px;
   }
   .hero, .new, .bright, .read-more{
      width: 100%;
   }
   .footer-card{
      width: 100%;
   }
   button{
    margin-top: 1rem;
   }
}

